<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <!-- access db mode: access / sql_server etc -->
    <add key="AccessDBMode" value="access"/>
    <!-- access is relative path: give info on the combination for the path: if true is a relative path in the solution -->
    <add key="isAccessRelativePath" value="true"/>
    <!-- Access db path: depending on previous param it could be absolute in the explorer or combined in the solution -->
    <add key="AccessDBPath" value="Access_DB\"/>
    <!-- Access db name: it will be added to the path of the previous property -->
    <add key="AccessDBName" value="Design_Patterns.accdb"/>
  </appSettings>
</configuration>
